@model iMyRestaurent.Models.BizHourModel
@{
    ViewBag.Title = "Add menu type";
    Layout = "~/Views/Shared/_Layout.cshtml";

    switch (Model.Mode)
    {
        case iMyRestaurent.Shared.Mode.Create:
        case iMyRestaurent.Shared.Mode.CreateAfterRegistering:
        case iMyRestaurent.Shared.Mode.CreateFromLocationList:
            ViewBag.Action = Url.Action("Create", "BusinessHours");
            break;
        case iMyRestaurent.Shared.Mode.EditFromBusinessHours:
            ViewBag.Action = Url.Action("Edit", "BusinessHours");
            break;
    }
}
@section import {
    @NoCache.Instance.Css(Url, "~/Content/biz-hours.css")
    @NoCache.Instance.Css(Url, "~/Content/timepicker.css")
    @NoCache.Instance.Css(Url, "~/Content/i-my-menu.css")
    @NoCache.Instance.Css(Url, "~/Js/popup.css")
}
<div id="title">@ViewBag.Title</div>
<div class="opacity-box center-box" style="width: 900px;">
    <div class="clearfix menu-containment">
        @Html.Partial("MenuTypeHeader")
        @Html.Partial("MenuInput", new iMyRestaurent.Models.MenuInput() { IsEmpty = true })
        <div class="clearfix" style="padding-top: 10px;">
            <button type="button" class="image-button button-back left">
            </button>
            <button type="button" class="image-button button-save left" style="margin-left: 20px;">
            </button>
        </div>
    </div>
</div>
<form action="@ViewBag.Action" method="post">
<input type="hidden" name="Token" value="@Model.Token" />
<input type="hidden" name="LocationID" value="@Model.LocationID" />
<input type="hidden" name="LocationName" value="@Model.LocationName" />
<input type="hidden" name="SummaryLocationID" value="@Model.SummaryLocationID" />
<input type="hidden" name="SummaryDate" value="@Model.SummaryDate" />
<input type="hidden" name="Mode" value="@Model.Mode" />
</form>
@section script {
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery-ui-timepicker-addon-biz.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/menu-input.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/add-menu.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.meio.mask.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/i-my-menu.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/i-my-menu-v3.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jlinq.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/fullscreen-image-viewer.js")
    @NoCache.Instance.Javascript(Url, "~/Js/theme.js")
    @NoCache.Instance.Javascript(Url, "~/Js/core.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.form.js")
}
