@{
}
@section import {
    @NoCache.Instance.Css(Url, "~/Content/holiday-setting.css")
    @NoCache.Instance.Css(Url, "~/Js/popup.css")
    @NoCache.Instance.Css(Url, "~/Content/mobiscroll/mobiscroll.core-2.0.3.css")
    @if (Utils.IsAndroid())
    {
        <text>
        @NoCache.Instance.Css(Url, "~/Content/mobiscroll/mobiscroll.android-ics-2.0.css")
        </text>
    }
    else
    {
        <text>
        @NoCache.Instance.Css(Url, "~/Content/mobiscroll/mobiscroll.ios-2.0.2.css")
        </text>
    }
}
@section script {
    @NoCache.Instance.Javascript(Url, "~/Scripts/holiday-setting.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/utils.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jlinq.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/resize.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/mobiscroll/mobiscroll.core-2.0.3.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/mobiscroll/mobiscroll.datetime-2.0.3.js")
    @if (Utils.IsAndroid())
    {
        <text>
        @NoCache.Instance.Javascript(Url, "~/Scripts/mobiscroll/mobiscroll.android-ics-2.0.js")
        </text>
    }
    else
    {
        <text>
        @NoCache.Instance.Javascript(Url, "~/Scripts/mobiscroll/mobiscroll.ios-2.0.2.js")
        </text>
    }
}
<div id="holiday-setting">
    <div id="body" class="clearfix">
        <div id="title" style="text-align: left !important;">
            <div id="control-date-block">
                <table class="control-date">
                    <tr>
                        <td>
                            <img class="previous" src="/content/images/summary-select-back.png" width="27" height="24"
                                alt="" id="previous-date">
                        </td>
                        <td>
                            <span style="display: none;" id="CurrentYearMonthLabel">October 2012</span>
                            <input type="text" readonly="readonly" id="date-picker" />
                            <input type="hidden" id="CurrentYearMonth" value="" />
                            <input type="hidden" id="LocationID" value="@ViewBag.LocationID" />
                            <input type="hidden" id="Token" value="@ViewBag.Token" />
                        </td>
                        <td>
                            <img class="next" src="/content/images/summary-select-forward.png" width="27" height="24"
                                alt="" id="next-date">
                        </td>
                    </tr>
                </table>
            </div>
            <div id="title-block">
                @ViewBag.Title</div>
        </div>
        <div id="spec-day-panel">
            <div class="center">
                Select a date to set the status to CLOSED for each menu type
            </div>
            <table class="calendar bottomhidden" style="width: 505px;">
                <thead>
                    <tr>
                        <th>
                            Menu Type
                        </th>
                        <th event-id="21902" day="0" class="day">
                            Mon
                        </th>
                        <th event-id="21903" day="1" class="day">
                            Tue
                        </th>
                        <th event-id="21904" day="2" class="day">
                            Wed
                        </th>
                        <th event-id="21905" day="3" class="day">
                            Thu
                        </th>
                        <th event-id="21906" day="4" class="day">
                            Fri
                        </th>
                        <th event-id="21907" day="5" class="day">
                            Sat
                        </th>
                        <th event-id="21908" day="6" class="day">
                            Sun
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div id="calendar-list">
            </div>
        </div>
        <div id="pub-day-panel">
            <div class="center">
                Select your country and year to display Public Holidays, then select which Public
                Holidays status to be closed.
            </div>
            <div class="classic-popup-main">
                <div class="classic-popup-content1" style="height: 619px">
                    <div class="dialog clearfix" style="width: auto; margin-left: 10px; padding-top: 10px;">
                        <div class="select-panel clearfix" style="height: 25px;">
                            <select id="country-selector">
                                <option value="-1">Select country</option>
                            </select>
                            <select id="year-selector" onchange="holiday.public.handler.countryChange();">
                                <option value="-1">Select year</option>
                            </select>
                        </div>
                        <div class="table-containment">
                            <table id="table-header">
                                <thead>
                                    <tr>
                                        <th align="left">
                                            Public holidays
                                        </th>
                                    </tr>
                                </thead>
                            </table>
                            <div id="public-data">
                                <table class="center-box">
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer {
    <div id="holiday-setting-footer" class="clearfix">
        <button id="btn-done" type="button" class="image-button button-done right">
        </button>
    </div>
    <form method="post" id="frm-done" action="/BusinessHours/Edit">
    <input type="hidden" name="LocationID" id="flow-mode" value="@ViewBag.LocationID" />
    <input type="hidden" name="LocationName" value="@ViewBag.LocationName" />
    <input type="hidden" name="SummaryLocationID" value="@ViewBag.SummaryLocationID" />
    <input type="hidden" name="SummaryDate" value="@ViewBag.SummaryDate" />
    <input type="hidden" name="Mode" value="@ViewBag.Mode" />
    <input type="hidden" name="Token" value="@ViewBag.Token" />
    </form>
}
