@model iMyRestaurent.Models.ProfileModel
@{
    switch (Model.Mode)
    {
        case iMyRestaurent.Shared.Mode.Create:
            ViewBag.Title = "iMyRestaurant - Create profile";
            ViewBag.NextAction = Url.Action("Create", "Location");
            ViewBag.NextMethod = "get";
            break;
        case iMyRestaurent.Shared.Mode.Edit:
            ViewBag.Title = "iMyRestaurant - Edit profile";
            ViewBag.NextAction = Url.Action("Index", "Summary");
            ViewBag.NextMethod = "post";
            break;
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
    string privateText = "(private)";
}
@section import {
    @NoCache.Instance.Css(Url, "~/Content/profile.css")
}
<div id="title">@ViewBag.Title</div>
<div class="center-box" style="width: 900px;">
    <div class="opacity-box clearfix" style="margin-bottom: 20px;">
        <div class="text-align-center">
            <text>Please provide you restaurant's profile information (Note all fields are mandatory)</text>
        </div>
        <form id="save-profile" action="/Profile/Save">
        <input type="hidden" name="RestaurantID" value="@Model.RestaurantID" />
        <table id="input-layout">
            <tbody>
                <tr>
                    <td colspan="2">
                        <span>Name of restaurant</span>
                    </td>
                    <td>
                        <input type="text" name="Restaurant_Name" value="@Model.Restaurant_Name" display-text="Name of restaurant" must-filled />
                    </td>
                    <td>
                    </td>
                    <td id="image-containment" rowspan="11">
                        <div id="image-upload">
                            <input type="file" name="RestaurantImage" />
                        </div>
                        <div class="clearfix">
                            <button type="button" class="image-button" id="delete-image">
                            </button>
                            <div id="image-preview-panel">
                                <div id="image-preview">
                                    @if (Model.Image != null)
                                    {
                                        <img src="@Model.Image.ImagePath" image-id="@Model.Image.ImageID" />
                                    }
                                </div>
                                <div class="clearfix">
                                    <div id="view-image-chk">
                                        @if (Model.Image != null && Model.Image.IsDisplay == 1)
                                        {
                                            <input type="checkbox" name="IsDisplay" value="true" checked="checked" />
                                        }
                                        else
                                        {
                                            <input type="checkbox" name="IsDisplay" value="true" />
                                        }
                                    </div>
                                    <div id="view-image-lbl">
                                        <span>Display</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Website</span>
                    </td>
                    <td>
                        <input type="text" name="Website" value="@Model.Website" />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Restaurant type</span>
                    </td>
                    <td>
                        @Html.DropDownListFor(m => m.Type, new SelectList(Model.RestaurantTypes, Model.Type), new { displayText = "Restaurant type" })
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Name of contact person</span>
                    </td>
                    <td>
                        <input type="text" name="ContactPerson" value="@Model.ContactPerson" displayText="Name of contact person" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Telephone no.</span>
                    </td>
                    <td>
                        <input type="text" name="Phone" value="@Model.Phone" displayText="Telephone no." must-filled />
                    </td>
                    
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Fax no.</span>
                    </td>
                    <td>
                        <input type="text" name="Fax" value="@Model.Fax" displayText="Fax no." must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Reset password secret question</span>
                    </td>
                    <td>
                        <input type="text" name="SecretQuestion" value="@Model.SecretQuestion" displayText="Reset password secret question" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <span>Reset password secret answer</span>
                    </td>
                    <td>
                        <input type="text" name="SecretAnswer" value="@Model.SecretAnswer" displayText="Reset password secret answer" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <span>Billing address</span>
                    </td>
                    <td class="desc">
                        <span>(street)</span>
                    </td>
                    <td>
                        <input type="text" name="BillingAddress1" value="@Model.BillingAddress1" displayText="Billing address" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="desc">
                        <span>(suburb/ city)</span>
                    </td>
                    <td>
                        <input type="text" name="BillingAddress2" value="@Model.BillingAddress2" displayText="Billing address" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="desc">
                        <span>(state/ code/ country)</span>
                    </td>
                    <td>
                        <input type="text" name="BillingAddress3" value="@Model.BillingAddress3" displayText="Billing address" must-filled />
                    </td>
                    <td class="private">
                        <span>@privateText</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">
                        <span>Restaurant's location address</span>
                    </td>
                    <td class="desc">
                        <span>(street)</span>
                    </td>
                    <td>
                        <input type="text" name="Address1" value="@Model.Address1" displayText="Restaurant's location address" must-filled />
                    </td>
                    <td class="long-desc" rowspan="3" colspan="2">
                        <span>The restaurant's location address is used in iMyTable on Google Maps for customers
                            to find your restaurant.</span>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="desc">
                        <span>(suburb/ city)</span>
                    </td>
                    <td>
                        <input type="text" name="Address2" value="@Model.Address2" displayText="Restaurant's location address" must-filled />
                    </td>
                </tr>
                <tr>
                    <td colspan="2" class="desc">
                        <span>(state/ code/ country)</span>
                    </td>
                    <td>
                        <input type="text" name="Address3" value="@Model.Address3" displayText="Restaurant's location address" must-filled />
                    </td>
                </tr>
            </tbody>
        </table>
        </form>
    </div>
    <div class="clearfix">
        <div id="note-left">
            <span>(private)</span>
        </div>
        <div id="note-right" class="long-desc">
            <span>Not visible on iMyTable to customers</span>
            <br /><br />
            <span>Items not labled as private, are visible on iMyTable for customers to view</span>
        </div>
    </div>
</div>
@section footer {
    @if (Model.Mode == iMyRestaurent.Shared.Mode.Edit)
    {
        <button type="button" class="image-button button-back left">
        </button>
        <form action="@Url.Action("Index", "Summary")" method="post" id="back">
        <input type="hidden" name="LocationID" value="@Model.SummaryLocationID" />
        <input type="hidden" name="Date" value="@Model.SummaryDate" />
        </form>
    }
    <button type="button" class="image-button button-done right">
    </button>
    <input type="hidden" id="mode" value="@Model.Mode" />
}
@section script {
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.form.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/profile.js")
}
