<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
@{
    Response.Cache.SetExpires(DateTime.UtcNow.AddMinutes(-1));
    Response.Cache.SetCacheability(HttpCacheability.NoCache);
    Response.Cache.SetNoStore();
}
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    @NoCache.Instance.Css(Url, "~/Content/master.css")
    @NoCache.Instance.Css(Url, "~/Content/progress-dialog.css")
    @NoCache.Instance.Css(Url, "~/Content/themes/smoothness/jquery-ui-1.8.18.custom.css")
    @NoCache.Instance.Css(Url, "~/Content/buttons.css")
    @NoCache.Instance.Css(Url, "~/Content/info-box.css")
    @NoCache.Instance.Css(Url, "~/Content/popups.css")
    @RenderSection("import", false)
</head>
<body>
    <div id="wrapper">
        <div id="content" class="clearfix">
            @RenderBody()
        </div>
        <div id="push">
        </div>
    </div>
    <div id="footer">
        @RenderSection("footer", false)
    </div>
    @Html.Partial("ProgressDialog")
    @Html.Partial("InfoBox")
    @RenderSection("outer", false)
    <div id="bottom-anchor">
    </div>
    <!-- javascript -->
    @NoCache.Instance.Javascript(Url, "~/Js/functionlib.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery-1.7.2.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery-ui-1.8.20.custom.min.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.ui.touch-punch.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/progress-dialog.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/info-box.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/utils.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/resize.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/flexible-layout.js")
    @if (Utils.IsAndroid())
    {
        <text>
        @NoCache.Instance.Javascript(Url, "~/Scripts/touchscroll.js")
        </text>
    }
    <script type="text/javascript">
        $.ajaxSetup({
            type: 'post',
            headers: { 'cache-control': 'no-cache' }
        });
	</script>
    @RenderSection("script", false)
</body>
</html>
