@model iMyRestaurent.Models.LayoutModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    switch (Model.Mode)
    {
        case iMyRestaurent.Shared.Mode.Create:
        case iMyRestaurent.Shared.Mode.CreateAfterRegistering:
        case iMyRestaurent.Shared.Mode.CreateFromLocationList:
            ViewBag.Title = "iMyRestaurant - Create " + Model.LocationName + " Layout";
            ViewBag.BackAction = @Url.Action("Create", "Location");
            ViewBag.NextAction = @Url.Action("Create", "Numbering");
            break;
        case iMyRestaurent.Shared.Mode.EditFromLayout:
            ViewBag.Title = "iMyRestaurant - Edit " + Model.LocationName + " Layout";
            ViewBag.BackAction = @Url.Action("EditLayout", "Location");
            ViewBag.NextAction = @Url.Action("Edit", "Numbering");
            break;
        case iMyRestaurent.Shared.Mode.EditFromLocation:
            ViewBag.Title = "iMyRestaurant - Edit " + Model.LocationName + " Layout";
            ViewBag.BackAction = @Url.Action("Edit", "Location");
            ViewBag.NextAction = @Url.Action("Edit", "Numbering");
            break;
    }
}
@section import {
    @NoCache.Instance.Css(Url, "~/Content/table-layout.css")
    @NoCache.Instance.Css(Url, "~/Content/Layout.css")
}
<div id="title">@ViewBag.Title</div>
<div class="clearfix">
    <div class="right" style="margin: 5px 2px 5px 2px;">
        <input type="button" class="image-button button-zoom-in" />
    </div>
    <div class="right" style="margin: 5px 2px 5px 2px;">
        <input type="button" class="image-button button-zoom-out" />
    </div>
</div>
<div class="opacity-box center-box">
    <div class="auto-height-div -fl-ah" fla-step="10" id="layout-containment">
        <div id="layout">
            @foreach (var table in Model.Tables)
            {   
                <div class="table" id="@table.TableID" style="@table.Css.Table">
                    <div class="table-elements">
                        <div class="button-delete-table">
                        </div>
                        <div class="layout-code hidden">@table.LayoutCode</div>
                        <div class="number-seat" style="@table.Css.Number">
                            <div style="@table.Css.NumberText">@table.NoOfChairs</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="clearfix" style="margin-top: 20px;">
        <div class="left">
            <input type="button" id="btnBack" class="button-back image-button" />
        </div>
        <div class="left">
            <input type="button" class="image-button button-reset" />
        </div>
        <div class="right">
            <input type="button" id="btnContinue" class="image-button button-create" />
        </div>
    </div>
</div>
<form action="@ViewBag.BackAction" method="post" id="back">
<input type="hidden" name="SummaryLocationID" value="@Model.SummaryLocationID" />
<input type="hidden" name="SummaryDate" value="@Model.SummaryDate" />
<input type="hidden" name="Mode" value="@Model.Mode" />
<input type="hidden" name="LocationID" value="@Model.LocationID" />
<input type="hidden" name="TableText" />
<input type="hidden" name="LocationName" value="@Model.LocationName" />
<input type="hidden" id="zoom-scale" name="LayoutZoomScale" value="@Model.LayoutZoomScale" />
</form>
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "reload" }))
{
    <input type="hidden" name="Mode" value="@Model.Mode" id="mode" />
    <input type="hidden" name="LocationID" value="@Model.LocationID" />
    <input type="hidden" name="SummaryDate" value="@Model.SummaryDate" />
    <input type="hidden" name="SummaryLocationID" value="@Model.SummaryLocationID" />
    <input type="hidden" name="LocationName" value="@Model.LocationName" />
    <input type="hidden" name="TableChairText" />
    <input type="hidden" name="TableNumberText" />
    <input type="hidden" name="IsReload" value="true" />
    <input type="hidden" name="TablePositionText" />
    <input type="hidden" id="zoom-scale" name="LayoutZoomScale" value="@Model.LayoutZoomScale" />
}
<form action="@ViewBag.NextAction" method="post" id="next">
<input type="hidden" name="Mode" value="@Model.Mode" />
<input type="hidden" name="LocationID" value="@Model.LocationID" />
<input type="hidden" name="LocationName" value="@Model.LocationName" />
<input type="hidden" name="SummaryDate" value="@Model.SummaryDate" />
<input type="hidden" name="SummaryLocationID" value="@Model.SummaryLocationID" />
<input type="hidden" name="TablePositionText" id="txt-table-position-summary" />
<input type="hidden" id="zoom-scale" name="LayoutZoomScale" value="@Model.LayoutZoomScale" />
</form>
@section script {
    @*<script type="text/javascript" src="@NoCache.Instance.Url(Url, "~/Scripts/jquerypp.js")"></script>*@
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.event.drag-2.2.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/zoom.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/drag.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/layout.js")
}
