@model iMyRestaurent.Models.MenuModels
@{
    ViewBag.Title = "Editor";
}
@section import {
    @NoCache.Instance.Css(Url, "~/Content/menueditor-style.css")
    @NoCache.Instance.Css(Url, "~/Content/i-my-menu-v2.css")
    @NoCache.Instance.Css(Url, "~/Content/menu-styles/style1/style.css")
    @NoCache.Instance.Css(Url, "~/Content/menu-styles/style2/style.css")
    @NoCache.Instance.Css(Url, "~/Content/menu-styles/style3/style.css")
}
@section script{
    @NoCache.Instance.Javascript(Url, "~/Scripts/jlinq.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/jquery.form.js")
    @NoCache.Instance.Javascript(Url, "~/Scripts/preview-manager.js")
    @*<script type="text/javascript" src="@NoCache.Instance.Url(Url, "~/Scripts/menueditor1.js")"></script>*@
    @NoCache.Instance.Javascript(Url, "~/Scripts/menu-editor.js")
}
<div id="tabledb">
    <!--bdimenu-->
    <div id="bdimenu" class="opacity-box">
        <!--menu-->
        <div id="col">
            <div class="topl">
                <div id="logo">
                    <img  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/logo.png")" width="40" height="41" /></div>
                <div class="title fl">
                    Menu editor</div>
            </div>
            <div class="menubtm">
                <!--content-->
                <div id="styleline">
                    <ol class="steps">
                        <li class="first form">
                            <div>
                                <h2>
                                    Style sheets
                                </h2>
                                @*@Html.DropDownListFor(x => x.CSSID, Model.styleSheets, new { @class = "menu-dropdown" })*@
                                @Html.DropDownList("dropcssid", Model.styleSheets, new { @class = "menu-dropdown", id = "drop-cssid" })
                            </div>
                        </li>
                        <li class="form">
                            <div>
                                <h2>
                                    Currency
                                </h2>
                                @*@Html.DropDownListFor(x => x.CurrencyID, Model.currencies, new { @class = "menu-dropdown" })*@
                                @Html.DropDownList("dropcurrencyid", Model.currencies, new { @class = "menu-dropdown", id = "drop-currencyid" })
                            </div>
                        </li>
                        <li class="last form">
                            <div>
                                <h2>
                                    Language
                                </h2>
                                @*@Html.DropDownListFor(x => x.LanguageID, Model.languages, new { @class = "menu-dropdown" })*@
                                @*@Html.DropDownList("droplanguage", Model.languages, new { @class = "menu-dropdown", id = "drop-language" })*@
                                <select class="menu-dropdown" id="drop-language" name="droplanguage">
                                    @foreach (var item in Model.languages)
                                    {
                                        <option @*@(item.Name == "English" ? "selected=selected" : "")*@ shortname="@item.ShortName" value="@item.LangID">@item.Name</option>
                                    }
                                </select>
                            </div>
                        </li>
                        Pri:<span id="label-pri">--</span> Se:<span id="label-se">--</span>
                        <li class="radio1">
                            <div>
                                <br />
                                <div title="Your primary language should be used to complete your menu.">
                                    <input type="radio" name="radLang" id="rad-primary" value="Primary" />
                                    Primary<br />
                                </div>
                                <input type="radio" name="radLang" id="rad-secondary" value="Secondary" />
                                Secondary<br />
                            </div>
                        </li>
                        <li class="checkb">
                            <div class="fl" style="padding-top: 5px;">
                                <input type="checkbox" id="auto-trans" name="option1" value="true" />
                            </div>
                            <div title="The menu will be translated from primary language to other languages when you click Save."
                                class="fl" style="width: 50px; padding-left: 10px">
                                Automatic translation</div>
                        </li>
                    </ol>
                </div>
                <!--one line-->
                @*du dinh them the form o day*@
                <form action="/Menu/AddMenu" method="post" enctype="multipart/form-data" id="menu-form">
                <div id="groupline" class="pinkbg">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    MENU</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-menu-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-menu-update"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-menu-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div class="">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input id="menu-active" type="checkbox" name="menuActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="last form">
                                <div class="pt">
                                    <h2>
                                        Type</h2>
                                </div>
                                @*@Html.DropDownList("", Model.menutypes,new { @class = "menu-dropdown",id="" })*@
                                @Html.DropDownListFor(x => x.TypeID, Model.menutypes, new { @class = "menu-dropdown" })
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="menu-flag" value="add" />
                                <input type="hidden" name="CSSID" id="txt-menu-cssid" value="" />
                                <input type="hidden" name="CurrencyID" id="txt-menu-currencyid" value="" />
                                <input type="hidden" name="PriLanguageID" id="txt-menu-prilangid" value="" />
                                <input type="hidden" name="SeLanguageID" id="txt-menu-selangid" value="" />
                                <input type="hidden" name="MenuID" id="txt-menu-menuid" value="" />
                                <input type="hidden" name="Contents" id="menu-content" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-menu-autotrans" value="" />
                                <input type="hidden" name="ImageID" id="menu-image-imageid" value="" />
                                <input type="hidden" name="IconID" id="menu-icon-imageid" value="" />
                                <input name="menuName" class="textbox" id="txt-menu-name" type="text" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-menu">
                                        @if (Model.menus != null)
                                        {
                                            if (Model.menus.Count() > 0)
                                            {
                                                foreach (var item in Model.menus)
                                                { 
                                            <li><a value="@item.MenuID" href="#">@item.Name</a></li>
                                                }
                                            }
                                        }
                                    </ul>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea id="txt-menu-desc"  class="textfildw" name="menuDesc"></textarea>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol1">@*<div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/uploadimg.png")" width="94" height="25" /></div>*@
                            <div id="menu-inputfile-image" class="image-button button-menueditor-uploadimage left">
                                <input type="file" name="menuImage" for="menu-preview-image" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="menu-inputfile-icon" class="image-button button-menueditor-upload left">
                                <input type="file" name="menuIcon" for="menu-preview-icon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div class="check">
                                <div id="menu-preview-image" class="displayimg">
                                </div>
                                <div id="menu-preview-icon" class="displayimg">
                                </div>
                                <div class="fl">
                                    <img id="btn-menu-delimgicon" class="linkimg" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="pt5">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="menu-display" name="menuDisplayImage" value="true">
                                </div>
                                <div class="fl form">
                                    <select class="menu-dropdown" id="menu-select-imageicon" name="mm" id="display">
                                        <option value="icon">Icon</option>
                                        <option value="image" selected="selected" value="1">Image</option>
                                    </select>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                </form>
                <form action="/Menu/AddSection" method="post" enctype="multipart/form-data" id="section-form">
                <div id="groupline">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    SECTION</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-sec-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-sec-update" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-sec-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div class="pb10">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="section-active" name="IsActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="sec-flag" value="add" />
                                <input type="hidden" name="LangID" id="sec-lang-id" value="" />
                                <input type="hidden" name="MenuID" id="sec-menu-id" value="" />
                                <input type="hidden" name="SectionID" id="section-id" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-sec-autotrans" value="" />
                                <input type="hidden" name="Contents" id="sec-contents" value="" />
                                <input type="hidden" name="PriLanguageID" id="sec-pri-lang-id" />
                                <input type="hidden" name="ImageID" id="sec-imageid" value="" />
                                <input type="text" name="SectionName" id="txt-sec-name" class="textbox" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-sec">
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="up">
                                        <img class="linkimg" blocktype="Section" ordertype="up" id="btn-sec-up" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/up.png")" width="10" height="14" /></div>
                                    <div class="down">
                                        <img class="linkimg" blocktype="Section" ordertype="down" id="btn-sec-down" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/down.png")" width="10" height="13" /></div>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea class="textfildw" name="sectionDesc" id="txt-sec-desc"></textarea>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol">@*<div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/upload-icon.png")" width="94" height="25" /></div>*@
                            <div class="image-button button-menueditor-upload left">
                                <input name="Icon" type="file" for="section-preview-icon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="section-preview-icon" class="displayimg">
                            </div>
                            <div class="pt10">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="section-display-icon" name="DisplayIcon" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                        <li class="sixcol">
                            <div>
                                <img id="btn-sec-delicon" class="linkimg" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                        </li>
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                </form>
                <!--one line-->
                <form action="/Menu/AddSection" method="post" enctype="multipart/form-data" id="subsection-form">
                <div id="groupline" class="pinkbg">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    SUBSECTION</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-subsec-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-subsec-update" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-subsec-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div class="pb10">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="subsection-active" name="sectionActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="subsec-flag" value="add" />
                                <input type="hidden" name="parentID" id="txt-subsec-parentid" value="" />
                                <input type="hidden" name="LangID" id="txt-subsec-langid" value="" />
                                <input type="hidden" name="PriLanguageID" id="subsec-pri-lang-id" />
                                <input type="hidden" name="menuID" id="txt-subsec-menuid" value="" />
                                <input type="hidden" name="SectionID" id="txt-subsec-sectionid" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-subsec-autotrans" value="" />
                                <input type="hidden" name="XMLNameDesc" id="txt-subsec-xml" value="" />
                                <input type="hidden" name="Contents" id="subsec-contents" value="" />
                                <input type="hidden" name="ImageID" id="subsec-imageid" value="" />
                                <input name="sectionName" id="txt-subsec-name" class="textbox" type="text" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-subsec">
                                        @*<li><a href="#">Subsection1</a></li>
                                            <li><a href="#" class="selected">Subsection2</a></li>
                                            <li><a href="#">Subsection3</a></li>*@
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="up">
                                        <img class="linkimg" blocktype="SubSection" ordertype="up"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/up.png")" width="10" height="14" /></div>
                                    <div class="down">
                                        <img class="linkimg" blocktype="SubSection" ordertype="down"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/down.png")" width="10" height="13" /></div>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea id="txt-subsec-desc" class="textfildw" name="sectionDesc"></textarea>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol">@* <div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/upload-icon.png")" width="94" height="25" /></div>*@
                            <div class="image-button button-menueditor-upload left">
                                <input type="file" name="Icon" for="subsection-preview-icon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="subsection-preview-icon" class="displayimg">
                            </div>
                            <div class="pt10">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="subsection-display-icon" name="sectionDisplayIcon" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                        <li class="sixcol">
                            <div>
                                <img id="btn-subsec-delicon" class="linkimg" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                        </li>
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                </form>
                <form action="/Menu/AddItem" method="post" enctype="multipart/form-data" id="item-form">
                <div id="groupline">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    MENUITEM</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-item-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-item-update" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-item-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Vegetarian</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkItem-veg" name="itemIsVeg" type="checkbox" name="option1" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Glutton Fee</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkItem-gf" name="itemIsGF" type="checkbox" name="option1" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="pb">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="item-active" name="itemActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="last form">
                                <div class="fl spice ">
                                    <h2>
                                        Spice Level
                                    </h2>
                                </div>
                                <div class="fr">
                                    <select class="required menu-dropdown" id="item-spice-level" name="itemSpiceLevel">
                                        <option selected="selected" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="item-flag" value="add" />
                                <input type="hidden" name="LangID" id="txt-item-langid" value="" />
                                <input type="hidden" name="PriLanguageID" id="txt-item-prilangid" value="" />
                                <input type="hidden" name="sectionID" id="txt-item-sectionid" value="" />
                                <input type="hidden" name="ToSubOrSec" id="txt-item-to" value="" />
                                <input type="hidden" name="ItemID" id="txt-item-itemid" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-item-autotrans" value="" />
                                <input type="hidden" name="XMLNameDesc" id="txt-item-xml" value="" />
                                <input type="hidden" name="Contents" id="item-contents" value="" />
                                <input type="hidden" name="ImageID" id="item-imageid" value="" />
                                <input name="itemName" id="txt-item-name" class="textbox" type="text" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-item">
                                        @* <li><a href="#">Menuitem1</a></li>
                                            <li><a href="#" class="selected">Menuitem2</a></li>
                                            <li><a href="#" class="selected">Menuitem2</a></li>
                                            <li><a href="#">Menuitem3</a></li>*@
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="up">
                                        <img class="linkimg" blocktype="Item"  ordertype="up"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/up.png")" width="10" height="14" /></div>
                                    <div class="down">
                                        <img class="linkimg" blocktype="Item"  ordertype="down"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/down.png")" width="10" height="13" /></div>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="form">
                                <input id="txt-item-price" name="itemPrice" class="textbox" type="text" value="" />
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea id="txt-item-desc" class="textfildw" name="itemDesc"></textarea>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol">@*<div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/upload-icon.png")" width="94" height="25" /></div>*@
                            <div class="image-button button-menueditor-upload left">
                                <input type="file" name="itemIcon" for="item-preview-icon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="item-preview-icon" class="displayimg">
                            </div>
                            <div class="pt10">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="item-display-icon" name="itemDisplayIcon" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                        <li class="sixcol">
                            <div>
                                <img id="btn-item-delicon" class="linkimg" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                        </li>
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                </form>
                <!--one line-->
                <form action="/Menu/AddGroup" method="post" enctype="multipart/form-data" id="group-form">
                <div id="groupline" class="pinkbg">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    GROUP</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-group-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-group-update" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-group-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Vegetarian</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkGroup-veg" type="checkbox" name="groupIsVeg" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Glutton Fee</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkGroup-gf" type="checkbox" name="groupIsGF" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="pb">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="group-active" name="groupActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="last form">
                                <div class="fl spice">
                                    <h2>
                                        Spice Level
                                    </h2>
                                </div>
                                <div class="fr">
                                    <select class="required menu-dropdown" id="group-spice-level" name="groupSpiceLevel">
                                        <option selected="selected" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="group-flag" value="add" />
                                <input type="hidden" name="LangID" id="txt-group-langid" value="" />
                                <input type="hidden" name="PriLanguageID" id="txt-group-prilangid" value="" />
                                <input type="hidden" name="ItemID" id="txt-group-itemid" value="" />
                                <input type="hidden" name="GroupID" id="txt-group-groupid" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-group-autotrans" value="" />
                                <input type="hidden" name="XMLNameDesc" id="txt-group-xml" value="" />
                                <input type="hidden" name="Contents" id="group-contents" value="" />
                                <input type="hidden" name="ImageID" id="group-imageid" value="" />
                                <input name="groupName" id="txt-group-name" class="textbox" type="text" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-group">
                                        @* <li><a href="#">group1</a></li>
                                            <li><a href="#" class="selected">group2</a></li>
                                            <li><a href="#">group3</a></li>*@
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="up">
                                        <img class="linkimg" blocktype="Group" ordertype="up"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/up.png")" width="10" height="14" /></div>
                                    <div class="down">
                                        <img class="linkimg" blocktype="Group" ordertype="down"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/down.png")" width="10" height="13" /></div>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="form">
                                <input name="groupPrice" id="txt-group-price" class="textbox" type="text" value="" />
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea id="txt-group-desc" class="textfildw" name="groupDesc"></textarea>
                            </div>
                            <div class="last form pt">
                                <div class="fl spice pt5">
                                    <h2>
                                        Type
                                    </h2>
                                </div>
                                @*<select id="drop-group-type" name="groupType" style="width: 62%; float: left; padding: 0.25px 0.5px 0.25px;">
                                        <option value="DropDown">DropDown</option>
                                        <option value="Radio">Radio</option>
                                        <option value="Checkbox">Checkbox</option>
                                    </select>*@
                                @Html.DropDownListFor(x => x.GroupTypeID, Model.grouptypes, new { @class = "grouptype-dropdown" })
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="last form">
                                <div class="fl spice pt5">
                                    <h2>
                                        Limit
                                    </h2>
                                </div>
                                <div class="fr">
                                    <select class="required menu-dropdown" id="group-limit" name="groupLimit">
                                        <option selected="selected" value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol">@*<div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/upload-icon.png")" width="94" height="25" /></div>*@
                            <div class="image-button button-menueditor-upload left">
                                <input type="file" for="group-preview-icon" name="groupIcon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="group-preview-icon" class="displayimg">
                            </div>
                            <div class="pt10">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="group-display-icon" name="groupDisplayIcon" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                        <li class="sixcol">
                            <div>
                                <img class="linkimg" id="btn-group-delicon" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                        </li>
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                </form>
                <form action="/Menu/AddOption" method="post" enctype="multipart/form-data" id="option-form">
                <div id="groupline">
                    <ol class="data">
                        <!--first-->
                        <li class="firstcol">
                            <div>
                                <h2>
                                    OPTION</h2>
                                <span class="icon">
                                    <img class="linkimg" id="btn-option-add" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/add-icon.png")" width="20" height="22" />
                                    <img class="linkimg" id="btn-option-update" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/save-btn.png")" width="20" height="20" />
                                    <img class="linkimg" id="btn-option-del" src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del.png")" width="20" height="22" />
                                </span>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Vegetarian</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkOption-veg" type="checkbox" name="optionIsVeg" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div>
                                <div class="fl titlecheck">
                                    <h2>
                                        Glutton Fee</h2>
                                </div>
                                <div class="fl">
                                    <input id="chkOption-gf" type="checkbox" name="optionIsGF" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="pb">
                                <div class="fl titlecheck">
                                    <h2>
                                        Active</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="option-active" name="optionActive" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="last form clearfix">
                                <div class="fl spice">
                                    <h2>
                                        Spice Level
                                    </h2>
                                </div>
                                <div class="fr">
                                    <select class="required menu-dropdown" id="option-spice-level" name="optionSpiceLevel">
                                        <option selected="selected" value="0">0</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>
                            </div>
                        </li>
                        <!--second-->
                        <li class="secondcol">
                            <div class="form">
                                <h2>
                                    Name</h2>
                                <input type="hidden" class="flag" id="option-flag" value="add" />
                                <input type="hidden" name="LangID" id="txt-option-langid" value="" />
                                <input type="hidden" name="PriLanguageID" id="txt-option-prilangid" value="" />
                                <input type="hidden" name="OptionID" id="txt-option-optionid" value="" />
                                <input type="hidden" name="GroupID" id="txt-option-groupid" value="" />
                                <input type="hidden" name="IsAutoTrans" id="txt-option-autotrans" value="" />
                                <input type="hidden" name="XMLNameDesc" id="txt-option-xml" value="" />
                                <input type="hidden" name="Contents" id="option-contents" value="" />
                                <input type="hidden" name="ImageID" id="option-imageid" value="" />
                                <input name="optionName" id="txt-option-name" class="textbox" type="text" value="" />
                            </div>
                            <div class="under">
                                <div class="list">
                                    <ul id="drop-option">
                                        @*<li><a href="#">Option1</a></li>
                                            <li><a href="#" class="selected">Option2</a></li>
                                            <li><a href="#">Option3</a></li>*@
                                    </ul>
                                </div>
                                <div class="arrow">
                                    <div class="up">
                                        <img class="linkimg" blocktype="Option" ordertype="up"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/up.png")" width="10" height="14" /></div>
                                    <div class="down">
                                        <img class="linkimg" blocktype="Option" ordertype="down"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/down.png")" width="10" height="13" /></div>
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                            <div class="form">
                                <input name="optionPrice" id="txt-option-price" class="textbox" type="text" value="" />
                            </div>
                        </li>
                        <!--thirst-->
                        <li class="thirstcol">
                            <div class="form">
                                <h2>
                                    Description</h2>
                                <textarea id="txt-option-desc" class="textfildw" name="optionDesc"></textarea>
                            </div>
                        </li>
                        <!--four-->
                        <!--five-->
                        <li class="fivecol">@*<div>
                                    <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/upload-icon.png")" width="94" height="25" /></div>*@
                            <div class="image-button button-menueditor-upload left">
                                <input type="file" name="optionIcon" for="option-preview-icon" class="menu-input-file"
                                    style="opacity: 0">
                            </div>
                            <div id="option-preview-icon" class="displayimg">
                            </div>
                            <div class="pt10">
                                <div class="fl">
                                    <h2>
                                        Display</h2>
                                </div>
                                <div class="fl">
                                    <input type="checkbox" id="option-display-icon" name="optionDisplayIcon" value="true">
                                </div>
                                <div class="clearAll">
                                </div>
                            </div>
                        </li>
                        <!--six-->
                        <li class="sixcol">
                            <div>
                                <img id="btn-option-delicon" class="linkimg"  src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/del-icon.png")" width="16" height="20" /></div>
                        </li>
                    </ol>
                    <div class="clearAll">
                    </div>
                </div>
                <!--/content-->
            </div>
            <div class="clearAll">
            </div>
        </div>
        <!--menu-->
        <!--preview-->
        <div id="col">
            <div class="topr">
                <div class="title fl">
                    Preview</div>
                <div class="btn fr">
                    <a href="#">
                        <img src="@NoCache.Instance.Url(Url, "~/content/images/menueditor/refresh-btn.png")" width="98" height="37" /></a></div>
            </div>
            <div class="prebtm">
                <xml-containment />
            </div>
        </div>
        <div class="clearAll">
        </div>
        <!--/preview-->
    </div>
    <!--/bdimenu-->
</div>
